.product-detail{
  margin: 6rem auto;
}
.product-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
	gap: 20px;
  align-items: center;
  justify-items: center;
}

.product-detail-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  gap: 1rem;
}
.product-detail-info h3{
  font-size: 3rem;
  margin: 0;
}
.product-detail-info span{
  font-size: 1rem;
}