.secction-items-lists {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  width: 100%;
  min-height: 100vh;
  
}
.h2-items-lists{
  font-size: 2rem;
  color: #bc9667;
  margin: 0;
  padding: 0;
  align-items: center;
}