.a-card-widget{
  position: relative;
  text-decoration: none; 
  color: #2b2620;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
}
.a-card-widget .fas:hover{
  color: #744407;
  text-decoration: none;
}
.fas{
  font-size: 1.5rem;
  color: #af6c13; 
}